In [1]:
import pandas as pd

# Example dataframe
data = {
    'Name': ['Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'Age': [25, 30, 25, 35, 30],
    'City': ['NYC', 'LA', 'NYC', 'Chicago', 'LA']
}
df = pd.DataFrame(data)

# 1. Identify duplicates
duplicates = df[df.duplicated()]
print("Duplicate rows:\n", duplicates)

# 2. Remove duplicates
df_no_duplicates = df.drop_duplicates()
print("\nData without duplicates:\n", df_no_duplicates)

# 3. Remove duplicates based on specific columns
df_no_duplicates_specific = df.drop_duplicates(subset=['Name', 'City'])
print("\nData deduplicated on Name and City:\n", df_no_duplicates_specific)

Duplicate rows:
     Name  Age City
2  Alice   25  NYC
4    Bob   30   LA

Data without duplicates:
       Name  Age     City
0    Alice   25      NYC
1      Bob   30       LA
3  Charlie   35  Chicago

Data deduplicated on Name and City:
       Name  Age     City
0    Alice   25      NYC
1      Bob   30       LA
3  Charlie   35  Chicago

In [1]:
import numpy as np

In [7]:
test = np.random.randint(0,9,(3,3))

In [8]:
test

array([[8, 4, 4],
       [8, 1, 1],
       [2, 6, 1]])

In [10]:
np.sum(test,axis=0)

array([18, 11,  6])

In [ ]:
import pandas as pd
import numpy as np
import random

# Generate random data
np.random.seed(42)  # For reproducibility
names = [f'Person_{i}' for i in range(1, 51)]  # Generate 50 unique names
reading_scores = np.random.randint(50, 100, size=50)  # Random scores between 50 and 100
writing_scores = np.random.randint(50, 100, size=50)
speaking_scores = np.random.randint(50, 100, size=50)

# Create DataFrame
data = {
    'name': names,
    'reading_score': reading_scores,
    'writing_score': writing_scores,
    'speaking_score': speaking_scores
}

df = pd.DataFrame(data)

# Display the first 5 rows
print(df.head(10))

        name  reading_score  writing_score  speaking_score
0   Person_1             88             51              58
1   Person_2             78             69              73
2   Person_3             64             77              50
3   Person_4             92             96              93
4   Person_5             57             56              57
5   Person_6             70             93              73
6   Person_7             88             57              60
7   Person_8             68             96              66
8   Person_9             72             84              57
9  Person_10             60             63              84

In [57]:
from sklearn.compose import ColumnTransformer

In [60]:
a = np.random.randint(0,9,(10))
b = np.array([f'Person{i}' for i in range(10)])

In [63]:
list(zip(b,a))

[('Person0', 2),
 ('Person1', 5),
 ('Person2', 1),
 ('Person3', 8),
 ('Person4', 4),
 ('Person5', 5),
 ('Person6', 3),
 ('Person7', 6),
 ('Person8', 8),
 ('Person9', 6)]

In [66]:
tuple(zip(b,a))

(('Person0', 2),
 ('Person1', 5),
 ('Person2', 1),
 ('Person3', 8),
 ('Person4', 4),
 ('Person5', 5),
 ('Person6', 3),
 ('Person7', 6),
 ('Person8', 8),
 ('Person9', 6))

In [65]:
pd.DataFrame(tuple(zip(b,a)))

         0  1
0  Person0  2
1  Person1  5
2  Person2  1
3  Person3  8
4  Person4  4
5  Person5  5
6  Person6  3
7  Person7  6
8  Person8  8
9  Person9  6

In [10]:
def test():
    print("hello")

In [11]:
temp = test()

hello

In [2]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York",
    "occupation": "Engineer",
    "hobby": "Reading"
}

In [4]:
[key for key in my_dict.keys() if my_dict[key] == "Reading"]

['hobby']